*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background:linear-gradient(to top, rgb(234, 247, 176),rgb(237, 243, 182),rgb(238, 241, 217),rgb(238, 237, 237)); */

}
#About-me{
    width: 80vw;
    height: 80vh;
    margin: auto;
}

.contact{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.contact span{
    color: rgb(106, 136, 235);
    border-bottom: 2px solid rgb(106, 136, 235);
}
.contact p{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.container{
    display: flex;
    width: 90%;
    height: 70%;
    margin: auto;
    justify-content: space-between;
}
.ek{
    width: 40%;
    height: 90%;
    border-radius: 4px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/address.jpg);
    background-size: cover;
}

.dokka{
    width: 57%;
    height: 100%;
    padding: 2rem;
    background-color:rgb(0, 0, 0);
    border-radius: 1rem;
}
.two{
    /* background-color: rgb(5, 5, 5); */
    width: 100%;
    height: 90%;
    display: grid;
    /* padding: 2rem; */
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "box1 . box2"
                        "box3 . box4"
                        "box5 box5 box5";
                        
}
.two .st{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.ok{
    margin: 3rem 0;
}
.ok p{
    color: white;
    letter-spacing: 2px;
}
.font{
    font-size: 1.5rem;
}
.font i {
    margin-right: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.two-1{
    grid-area: box1;
}
.two-2{
    grid-area: box2;
}
.two-3{
    grid-area: box3;
}
.two-4{
    grid-area: box4;
}
.two-5{
    grid-area: box5;
}


.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
    /* background-color: aqua; */
}
.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #272222;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 100%;
    outline: none;
    font-size: 14px;
    border-bottom: 1px solid rgb(238, 235, 235);
}
.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: rgb(170, 164, 164);
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
}
.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
    top: -1rem;
    font-size: .9rem;
    color: rgb(245, 243, 243);
}
input::placeholder{
    color: white;;
}


.extra input{
    height: 100%;
    padding-bottom: 8rem;
    overflow-wrap: normal;
}

.btn{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.btn button{
    font-size: .8rem;
    padding:.5rem 2rem;
    margin-top: 1rem;
}

input, select, textarea{
    color: #ffffff;
}

textarea:focus, input:focus {
    color: #ffffff;
}

.not-valid{
    margin-top: 4px;
    color: rgb(241, 105, 105);
    display: block;
}

.valid{
    display: none;
}


